extends ../layout

block content
  .row
    .col-md-12
      .card
        .card-header
            h1.card-title Product Entry
            nav.aria-label
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='/') Dashboard
                li.breadcrumb-item
                  a(href='/products') Product List
                li.breadcrumb-item.active(aria-current='page')
                  span.card-title Product Entry

        .card-body
          form(id='productForm', action='/products', method='post', enctype='multipart/form-data', class='mt-4')
            .form-group
              label(for='name') Name:
              input(type='text', id='name', name='name', class='form-control', required)

            .form-group
              label(for='category') Category:
              input(type='text', id='category', name='category', class='form-control', required)

            .form-group
              label(for='quantity') Quantity:
              input(type='number', id='quantity', name='quantity', class='form-control', required)

            .form-group
              label(for='image') Image:
              input(type='file', id='image', name='image', class='form-control-file', onchange='previewImage(this)')
              img(id='imagePreview', src='', alt='Image Preview', class='mt-3' style='max-width: 200px; display: none;')

            hr

            .form-group
              button.btn.btn-primary(type='button', onclick='submitForm()') Save

  script.
    function previewImage() {
      const input = document.getElementById('image');
      const preview = document.getElementById('imagePreview');
      const file = input.files[0];
      const reader = new FileReader();

      reader.onloadend = function () {
        preview.src = reader.result;
        preview.style.display = 'block';
      }

      if (file) {
        reader.readAsDataURL(file);
      } else {
        preview.src = '';
        preview.style.display = 'none';
      }
    }

    function submitForm() {
      const form = document.getElementById('productForm');
      const formData = new FormData(form);

      // Use AJAX to submit the form
      fetch('/products', {
        method: 'POST',
        body: formData,
      })
        .then(response => response.json())
        .then(data => {
          // Show success alert
          alert('Product saved successfully');

          // Redirect to product list
          window.location.href = '/products';
        })
        .catch(error => {
          console.error('Error:', error);
          // Handle errors here
        });
    }
